.change_password {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 5% auto;

  .form_group {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
    label {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 500;
    }
    input {
      outline: none;
      border: 1px solid #d3d3d3;
      height: 30px;
      padding: 0px 15px;
      line-height: 100%;
    }
  }
  .btn_change {
    background-color: #000;
    width: 50%;
    padding: 10px;
    color: #fff;
    margin: 0 auto;
  }
  .message {
    color: #dc3545;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 4px;
    text-align: center;
  }
}
