.comment_box {
  max-width: 800px;
  margin: 0 auto;
  .head_box {
    box-shadow: 1px 1px 4px #d3d3d3;
    padding: 30px 10px;
    &_inner {
      display: flex;
      align-items: center;
      input {
        flex: 1;
        height: 40px;
        padding: 5px 10px;
        border: 1px solid #d3d3d3;
        margin-right: 20px;
        margin-left: 20px;
      }
      .btn_sent {
        margin-right: 20px;
        .icon {
          font-size: 20px;
          padding: 10px;
          border-radius: 50%;
          transition: all 0.2s ease;
          &:hover {
            background-color: #d3d3d3;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }
    .rating {
      display: flex;
      width: 200px;
      align-items: center;
      justify-content: space-evenly;
      margin-left: 70px;
    }
  }
  .user_comment-box {
    margin-top: 50px;
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    padding: 20px;
    .infor {
      display: flex;
      align-items: flex-end;
      .name {
        margin-bottom: 5px;
        display: flex;
        gap: 5px;
      }
      .ava {
        width: 40px;
        height: 40px;
        background-color: #202020;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        color: #fff;
        font-weight: 500;
      }
      .head {
        display: flex;
        text-align: end;
        justify-content: space-between;
        width: 100%;
      }
    }
    .box {
      width: 80%;
      min-height: 100%;
      background-color: #fff;
      margin: 20px auto;
      padding: 10px 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba(60, 64, 67, 0.1),
        0 2px 6px 2px rgba(60, 64, 67, 0.15);
      p {
        width: 100%;
        text-align: justify;
      }
      .reply_btn {
        margin-left: auto;
        margin-top: 10px;
        position: relative;
        width: 64px;
        cursor: pointer;
        &::after {
          content: "Trả lời";
          position: absolute;
          font-size: 14px;
        }
      }
    }
  }

  .ava {
    width: 70px;
    height: 70px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .reply {
    width: 700px;
    margin-left: auto;
    .infor {
      .ava {
        width: 30px;
        height: 30px;
      }
      .head {
        font-size: 14px;
      }
      .name {
        display: flex;
        gap: 5px;
      }
    }
  }
  .reply_text {
    width: 80%;
    margin-left: auto;
    display: none;
    &.show {
      display: block;
    }
    .textarea-comment {
      display: flex;
      margin-top: 10px;
      .textarea {
        border: 0;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(60, 64, 67, 0.1),
          0 2px 6px 2px rgba(60, 64, 67, 0.15);
        width: calc(100% - 80px);
        background-color: #fff;
        padding: 10px;
        margin-right: 20px;
        min-height: 100px;
      }
      .button_cmt-send {
        background-color: #000;
        color: #fff;
        border-radius: 10px;
        padding: 0 18px;
        font-size: 16px;
        height: 2.5em;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
