:root {
  --text-xl: 17px;
  --text-l: 15px;
  --text-m: 14px;
  --text-s: 12px;
  --color-text-white: #ffffff;
  --color-text-black: #202020;
}

.wrapper {
  position: relative;
  height: 100%;
}

.main.main_page {
  padding-top: 11.4583333333%;
  margin-bottom: 40px;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  .title {
    h3 {
      font-weight: 600;
      font-size: var(--text-xl);
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    p {
      font-size: var(--text-m);
    }
  }
}

.see_more {
  &.color_gray {
    a {
      color: #969696;
      &:hover {
        opacity: 0.7;
        &::after {
          opacity: 0.7;
        }
      }
      &::after {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-left: 10px;
        margin-top: 2px;
        background: url(../img/more_icon_gray.png) no-repeat;
        background-size: 100% 100%;
        transition: transform 0.3s, background 0.3s;
      }
    }
  }
  a {
    font-size: var(--text-m);
    font-weight: 600;
    transition-duration: 0.4s;
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      color: #202020;
      opacity: 0.7;
      text-decoration: underline;
      &::after {
        transform: translateX(5px);
      }
    }

    &::after {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-left: 10px;
      margin-top: 2px;
      background: url(https://43factory.coffee/wp-content/themes/soteco/resources/images/more_icon.png)
        no-repeat;
      background-size: 100% 100%;
      transition: transform 0.3s, background 0.3s;
    }
  }
}

.see_more-btn {
  width: 150px;
  height: 60px;
  margin: 0 auto;
  background-color: black;
  &.loading {
    position: relative;
    background-color: #ffffff;
    button {
      display: none;
    }
    .spinner {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 9px solid;
      border-color: #202020 #0000;
      animation: spinner-0tkp9a 1s infinite;
      position: absolute;
      left: 40%;
      top: 15%;
    }

    @keyframes spinner-0tkp9a {
      to {
        transform: rotate(0.5turn);
      }
    }
  }
  button,
  a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s linear;
    cursor: pointer;
  }
  &:hover {
    button,
    a {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }

  &.loaded {
    visibility: hidden;
    transition: visibility 0.3s 1s;
  }
}

.quanlity_btn {
  &.second {
    width: 90px;
    height: 40px;
    margin: 0 auto;
    .number_quality {
      width: 100%;
      text-align: center;
      display: inline-block;
      text-align: center;
      font-size: 17px;
      border: 1px solid #202020;
    }
  }
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  &_inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    .icon {
      cursor: pointer;
    }
  }
}

.btn {
  position: absolute;
  top: 50%;
  z-index: 10003;
  font-size: 22px;
  cursor: pointer;
  transform: translateY(-50%);
  padding: 10px;
  background-color: transparent;
  transition: 0.3s linear;
  &:hover {
    background-color: #d3d3d3;
    padding: 10px;
    &.btn {
      color: #ffffff;
    }
  }
  &-next {
    padding: 10px;
    background-color: #ffffff;
    right: 0;
  }
  &-previous {
    padding: 10px;
    background-color: #ffffff;
  }

  &_admin_product {
    background-color: black;
    padding: 10px 20px;
    color: var(--color-text-white);
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      color: initial;
    }
  }
}

.form_btn {
  margin-top: 40px;
  .btn-danger {
    background-color: #dc3545;
  }
  .btn-primary {
    background-color: #007bff;
  }
  .btn-light {
    background-color: var(--color-text-white);
    color: #202020;
  }
}

.breadcrumb_custom {
  font-size: var(--text-xl);
  text-transform: uppercase;
  a {
    color: var(--color-text-black);
    text-decoration: none;
    font-weight: 400;
  }
}

.item_row {
  display: flex;
  transition: transform 0.3s ease;
  .item {
    max-width: calc(100% / 4);
    flex-grow: 1;
    flex-shrink: 0;
    cursor: pointer;
    &_cont {
      text-align: center;
      margin-top: 20px;
      .item_price {
        margin-bottom: 10px;
        font-size: var(--text-xl);
      }
      .item_ttl {
        font-size: var(--text-l);
        text-transform: uppercase;
      }
    }
    &_img img {
      transform: scale(0.9);
      transition: 0.2s linear;
    }
    &:hover .item_img img {
      transform: scale(1);
    }
  }
  &.flex {
    flex-wrap: wrap;
  }
}

.loader--wrapper {
  background-color: #202020;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader--wrapper.hidden {
  display: none;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #fff #0000;
  animation: spinner-0tkp9a 1s infinite;
}

@keyframes spinner-0tkp9a {
  to {
    transform: rotate(0.5turn);
  }
}
