#header {
  background-color: #282828;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  padding: 25px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text-white);
    height: 100%;
    .header_logo {
      img {
        width: 200px;
        object-fit: cover;
      }
    }
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      .nav {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-right: 20px;
        position: relative;
        a {
          color: var(--color-text-white);
          text-decoration: none;
          font-size: var(--text-l);
          text-transform: uppercase;
        }
        .icon {
          font-size: 20px;
        }
        &:hover > a {
          text-decoration: underline;
        }
        &:hover .sub_nav {
          visibility: visible;
          opacity: 1;
        }
        .sub_nav {
          position: absolute;
          background-color: white;
          left: 0;
          min-width: 250px;
          min-height: 100%;
          top: 40px;
          flex-direction: column;
          visibility: hidden;
          opacity: 0;
          justify-content: space-between;
          transition: 0.2s linear;
          z-index: 10001;
          li {
            padding: 15px 20px;
            width: 100%;
            cursor: pointer;
            transition: 0.2s linear;
            border-bottom: 1px solid #dfdfdf;
            &:last-child {
              border-bottom: 1px solid transparent;
            }
            &:hover {
              background-color: #d3d3d3;
            }
            a {
              color: var(--color-text-black);
              font-size: var(--text-m);
            }
          }
        }
        &.nav_product {
          .icon_cart {
            font-size: 28px;
          }
          .sub_nav a {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            gap: 10px;
            .icon_cart {
              font-size: 20px;
            }
            img {
              width: 50px;
              height: 50px;
              object-fit: cover;
              object-position: center;
            }
            .infor {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: space-evenly;
              height: 100%;
              gap: 10px;
              flex: 1;

              p:first-child {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
              }
            }
          }
        }
        .quantity_item {
          background-color: #d3d3d3;
          position: absolute;
          bottom: 20px;
          right: -20px;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          padding: 5px;
          &_inner {
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
          }
        }
      }
    }
    .search {
      position: relative;
      .icon {
        font-size: 20px;
        cursor: pointer;
        &_close {
          color: #282828;
          font-size: 25px;
          cursor: pointer;
        }
      }
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
      }
      .searchForm {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        align-items: center;
      }
      &_content {
        position: absolute;
        top: 92px;
        left: 0;
        right: 0;
        border-radius: 10px;
        background-color: var(--color-text-white);
        max-height: 290px;
        overflow-y: scroll;
        padding: 0 !important;
        &::-webkit-scrollbar {
          display: none;
        }
        a {
          color: var(--color-text-black);
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
          padding: 10px 20px;
          line-height: 1.2;
          font-size: var(--text-l);
          text-align: left;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
          &:last-child {
            padding-bottom: 20px !important;
          }
          &:first-child {
            padding-top: 20px !important;
          }
        }
      }
      #searchButton {
        padding: 10px 20px;
        font-size: 16px;
      }

      input[type="text"] {
        width: 300px;
        padding: 10px;
        margin-right: 10px;
        border: 2px solid #282828;
        border-radius: 10px;
      }
    }
  }
}
